<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据可视化</title>
</head>
<body>

    <div id="main" style="width: 1000px; height:600px; margin-top: 20px;margin-left: 180px;"></div>
    <script src="js/echarts.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script>
      let nodejs = $('.nodejs').text()

      var app = {};
      var chartDom = document.getElementById('main');
      var myChart = echarts.init(chartDom);
      var option;
      
      const posList = [
        'left',
        'right',
        'top',
        'bottom',
        'inside',
        'insideTop',
        'insideLeft',
        'insideRight',
        'insideBottom',
        'insideTopLeft',
        'insideTopRight',
        'insideBottomLeft',
        'insideBottomRight'
      ];
      app.configParameters = {
        rotate: {
          min: -90,
          max: 90
        },
        align: {
          options: {
            left: 'left',
            center: 'center',
            right: 'right'
          }
        },
        verticalAlign: {
          options: {
            top: 'top',
            middle: 'middle',
            bottom: 'bottom'
          }
        },
        position: {
          options: posList.reduce(function (map, pos) {
            map[pos] = pos;
            return map;
          }, {})
        },
        distance: {
          min: 0,
          max: 100
        }
      };
      app.config = {
        rotate: 90,
        align: 'left',
        verticalAlign: 'middle',
        position: 'insideBottom',
        distance: 15,
        onChange: function () {
          const labelOption = {
            rotate: app.config.rotate,
            align: app.config.align,
            verticalAlign: app.config.verticalAlign,
            position: app.config.position,
            distance: app.config.distance
          };
          myChart.setOption({
            series: [
              {
                label: labelOption
              },
              {
                label: labelOption
              },
              {
                label: labelOption
              },
              {
                label: labelOption
              },
              {
                label: labelOption
              }
            ]
          });
        }
      };
      const labelOption = {
        show: true,
        position: app.config.position,
        distance: app.config.distance,
        align: app.config.align,
        verticalAlign: app.config.verticalAlign,
        rotate: app.config.rotate,
        formatter: '{c}  {name|{a}}',
        fontSize: 16,
        rich: {
          name: {}
        }
      };
      option = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          data: ['nodejs','java','python','c++','php','golang']
        },
        toolbox: {
          show: true,
          orient: 'vertical',
          left: 'right',
          top: 'center',
          feature: {
            mark: { show: true },
            dataView: { show: true, readOnly: false },
            magicType: { show: true, type: ['line', 'bar', 'stack'] },
            restore: { show: true },
            saveAsImage: { show: true }
          }
        },
        xAxis: [
          {
            type: 'category',
            axisTick: { show: false },
            data: ['北京', '上海', '杭州', '深圳', '广州']
          }
        ],
        yAxis: [
          {
            type: 'value'
          }
        ],
        series: [
          {
            name: 'nodejs',
            type: 'bar',
            barGap: 0,
            label: labelOption,
            emphasis: {
              focus: 'series'
            },
            data: [20.066666666666667,26.166666666666667,25,28.333333333333335,23.833333333333333]
          },
          {
            name: 'java',
            type: 'bar',
            label: labelOption,
            emphasis: {
              focus: 'series'
            },
            data: [16.666666666666667,27.83333333333333,29,32,29.33333333333333]
          },
          {
            name: 'python',
            type: 'bar',
            label: labelOption,
            emphasis: {
              focus: 'series'
            },
            data: [22.666666666666666,29.5,25.833333333333335,25.66666666666667,22.333333333333334]
          },
          {
            name: 'c++',
            type: 'bar',
            label: labelOption,
            emphasis: {
              focus: 'series'
            },
            data: [25.33333333333333,23.16666666666667,28.5,23.333333333333335,23.16666666666667]
          },
          {
            name: 'php',
            type: 'bar',
            label: labelOption,
            emphasis: {
              focus: 'series'
            },
            data: [18.166666666666667,25.66666666666667,28.833333333333333,36.5,23.16666666666667]
          },
          {
            name: 'golang',
            type: 'bar',
            label: labelOption,
            emphasis: {
              focus: 'series'
            },
            data: [11.333333333333333,23.833333333333333,22.16666666666667,21.166666666666667,25.66666666666667]
          }
        ]
      };
      
      option && myChart.setOption(option);

    </script>
</body>
</html>