<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="box">
        <table>
            <thead>
                <tr>
                    <td class="one">职位</td>
                    <td class="two">地区</td>
                    <td class="thr">薪资</td>
                    <td class="fou">？？</td>
                </tr>
            </thead>
            <tbody>
                {{ each data value index }}
                <tr>
                    <td class="one">{{ value.job }}</td>
                    <td class="username">{{ value.area }}</td>
                    <td class="emad">{{ value.salary }}</td>
                    <td class="fou" style="color: green;">{{ }}</td>
                </tr>
                {{ /each }}
            </tbody>
        </table>
        <div class="footer">
            <a href="/?tag=0">1</a>
            <a href="/?tag=1">2</a>
            <a href="/?tag=2">3</a>
            <a href="/?tag=3">4</a>
        </div>
    </div>
</body>
</html>